{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
<h1 class="my-4">{{ title }}</h1>
{% if create_path %}
<a class="nav-link" href={% url create_path %}>{{ create_path_name }}</a>
{% endif %}
<table class="table table-striped table-hover table-responsive-md">
    <thead class="table-primary" scope="col">
        {% for t_head in table_heads %}
        <th>{{ t_head }}</th>
        {% endfor %}
        <th></th>
    </thead>
    <tbody>
        {% for item in table %}
        <tr>
            {% for col in item %}
            <td>{{ col }}</td>
            {% endfor %}
            <td>
                <a href={% url update_link item.id %}>{% translate "Change" %}</a>
                <br>
                <a href={% url delete_link item.id %}>{% translate "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
